/* top part start */
.logo{
    width: 100px;
    height: 100px;
}
.navbar-brand{
    position: relative;
}
.navbar-brand h3 {
    position: absolute;
    top: 50px;
    left: 90px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
/* top part end */

/* banner part start */
#banner{
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}